<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:sq-monitoring="http://www.swissquote.com/schema/sq-monitoring-naming"
	   xmlns="http://www.springframework.org/schema/beans"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.1.xsd
	http://www.swissquote.com/schema/sq-monitoring-naming
	http://www.swissquote.com/schema/sq-monitoring-naming-1.0.xsd">


	<context:annotation-config/>
	<context:property-placeholder/>
	<context:component-scan base-package="com.swissquote.foundation.soa.idempotency"/>

	<!-- the ITConfig PropertySource is integrated automatically by sq-it-config-spring -->

	<sq-monitoring:enable-monitoring app-id="sq-soa-idempotence-integration-soa"/>

	<bean id="greetingsService" class="com.swissquote.foundation.soa.idempotency.GreetingsService">
		<constructor-arg name="greetingsSentence" value="${app.sq-soa-idempotence-integration-soa>greetings.sentence}"/>
	</bean>

	<bean class="com.swissquote.foundation.soa.idempotence.server.impl.IdempotentOperationServiceImpl">
		<constructor-arg name="jsonUtils" ref="jsonUtils"/>
		<constructor-arg name="operationManager" ref="operationManager"/>
	</bean>
	<bean id="jsonUtils" class="com.swissquote.foundation.soa.idempotence.server.JsonUtils"/>

</beans>
